/* Dropdown CSS for Free-Tools */
.dropbtn {
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 111px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.live-score {
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        color: rgba(255, 0, 0, 0.5);
    }
    100% {
        color: rgba(255, 0, 0, 1);
    }
}
