/* Reset default margin and padding */
body, header, footer, h1, p, form, select, input {
    margin: 0;
    padding: 0;
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style for the container */
.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Style for the form */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for the recommendations */
#recommendations {
    margin-bottom: 20px;
}

/* Style for the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Style for the save button */
#saveCsv {
    width: 100%;
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: none;
    cursor: pointer;
    display: none; /* Initially hidden */
}

#saveCsv:hover {
    background-color: #286090;
}
