<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>AquaTech Nexus: Water Research Code Library</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="signup_container">
                    <p class="title">Register</p>
                    <form method="post" action="{{ url_for('register') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.usertype.label }}
                            {% if form.usertype.errors %}
                                {{ form.usertype(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.usertype.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.usertype(class="form-control", id="user-type") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.username.label }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.address.label }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.address(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label }}
                            {% if form.phone.errors %}
                                {{ form.phone(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.phone(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <p class="login"> Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Bootstrap JavaScript (and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>